[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Zabbix chef cookbook
[access "refs/*"]
	owner = group user/briansextongameyourgame
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/briansextongameyourgame
	label-Verified = -1..+1 group user/briansextongameyourgame
	push = group user/briansextongameyourgame
	read = group user/briansextongameyourgame
	rebase = group user/briansextongameyourgame
	removeReviewer = group user/briansextongameyourgame
	submit = group user/briansextongameyourgame
[access "refs/heads/*"]
	create = group user/briansextongameyourgame
	push = +force group user/briansextongameyourgame
	pushMerge = group user/briansextongameyourgame
	read = group user/briansextongameyourgame
[access "refs/tags/*"]
	push = group user/briansextongameyourgame
	push = +force group user/briansextongameyourgame
